<p>
  <b>Channel:</b>
  <%= @channel.title %>
  <br />
  <b>Description:</b>
  <%= @channel.description %>
</p>
<p>
<% @channel.items.each do |item| %>
  <%= link_to item.title, item.link %>
  <%= item.pubDate %>
  <%= item.description.html_safe %> <%# include html tags from the description %>
  <br />
<% end %>
</p>

<%= link_to 'Back to all channels', channels_path %>
